#root
{
    width: 100vw;
}

body
{
    margin: 0;
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, p
{
    margin: 0;
}

header
{
    background-color: var(--middleground);
    
    div:first-of-type
    {
        padding: 1em;
        max-width: 85vw;
        margin: auto;
    }

    h1 a, a:visited
    {
        color: var(--primary-color);
        text-decoration: none;
    }
}

main 
{
    max-width: 70vw;
    margin: auto;

    h2
    {
        text-align: center;
        color: var(--primary-text);
    }
}