:root
{
    --background: #111111; /* Background */
    --middleground: #181818;   /* Lighter Background */
    --foreground: #222222;   /* Foremost Background */
    --background-accent: #2A2A2A;   /* Borders & Dividers */

    --primary-text: #EAEAEA;   /* Primary text */
    --secondary-text: #999999;   /* Secondary text */
    --muted-text: #666666;   /* Muted text */

    --primary-color: #00C3FF; 
    --success: #00E676;
    --error: #FF4757;

    /* Fonts */
    --primary-font: 'Arial', 'sans-serif';
}