:root {
    --primary-color: #55b0ff;
    --primary-color-dark: #41a6ff;
    --primary-color-light: #66b8ff;
    --primary-color-semi: rgba(85, 176, 255, 0.5);
    --secondary-color: #ac78ff;
    --black: #212121;
    --black-light: #2c2c2c;
    --black-dark: #1a1a1a;
    --white: #eeeeee;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--white);
    margin: 0;
    font-family: Arial, sans-serif;
}

#app {
    background-color: #222;
    padding: 1em;
    border-radius: 0.5em;
    min-width: 500px;
    min-height: 300px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tbody > tr:hover {
    background-color: var(--black-light);
    cursor: pointer;
}

th {
    color: var(--primary-color);
    text-align: left;
    padding: 0.5em 0.7em;
}

th:hover {
    cursor: pointer;
    background-color: var(--black-light);
}

td {
    color: var(--white);
    padding: 0.7em;
    text-align: left;
}

.mod-invalid td:first-of-type {
    border-left: 3px solid red;
}
